@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbar-width: 0.1rem;

    /* ---------- Light Theme ---------- */

    --color-primary: 24 24 27;
    --color-primary-accent: 250 250 250;
    --color-brand: 255 64 23;
    --color-background: 255 255 255;
    --color-background-secondary: 245 245 245;
    --color-secondary: 24 24 27;
    --color-border-default: 0 0 0;
    --color-accent: 229 229 229;
    --color-muted: 115 115 115;
    --color-destructive: 229 57 53;
    --color-positive: 34 197 94;
  }

  html.dark {
    /* ---------- Dark Theme ---------- */

    --color-primary: 250 250 250;
    --color-primary-accent: 24 24 27;
    --color-brand: 255 64 23;
    --color-background: 17 17 19;
    --color-background-secondary: 39 39 42;
    --color-secondary: 245 245 245;
    --color-border-default: 255 255 255;
    --color-accent: 39 39 42;
    --color-muted: 161 161 170;
    --color-destructive: 229 57 53;
    --color-positive: 34 197 94;
  }

  body {
    @apply bg-background/80 text-secondary;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  @apply bg-border/30;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-border/50;
}

::-webkit-scrollbar-track {
  background: transparent;
}